.categories__title {
    font-size: calc(18px + (32 - 18) * (100vw - 360px) / (1920 - 360));
    margin-bottom: 1rem;
    text-align: center;
}



.category__item,
.categories__items {
    display: block;
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5E5E5E;
    text-align: center;
    font-weight: 500;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--accent);

    &:not(:last-child) {
        margin-bottom: 0.8rem;
    }
}