.cards {
    margin-top: -5rem;

}

.cards__items {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: var(--padding2);
    border-radius: 1.8rem;
    grid-template-columns: repeat(3, 1fr);

    @media(max-width:1279px) {
        & {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media(max-width:1023px) {
        & {
            grid-template-columns: repeat(1, 1fr);
        }
    }

}